#main-container{
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selection{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 5px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: var(--input-bg);
}

.selection-option{
    width: 50%;
    text-align: center;
    margin: 0;
}
.selection-option:hover{
    background-color: white;
    border-radius: 25px;
}

#create-container{
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

#create-question-form{
    display: flex;
    flex-direction: column;
}

.create-form-label{
    margin-bottom: 10px;
}
.create-form-input{
    background-color: var(--input-bg);
    border: none;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#add-question-btn{
    padding: 7px 0;
    border: none;
    border-radius: 10px;
    background-color: var(--button-dark);
    color: white;
}
#add-question-btn:hover{
    cursor: pointer;
    background-color: var(--button-light);
}

#bottom-container{
    width: 100%;
}

#questions-container{
    background-color: white;
    text-align: center;
    justify-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 25px;
}