body{
    background-color: aqua;
}

#login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border: 1px, solid, lightgrey;
    border-radius: 10px;
}

#login-form{
    text-align: center;
    width: 100%;
}

#login-button{
    background-color: black;
    color: white;
    width: 80%;
}
#login-button:hover{
    cursor: pointer;
    background-color: darkgrey;
}

.login-item{
    margin: 10px;
    width: 80%;
    border: none;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}
.login-item::placeholder{
    color: grey;
}

.login-label {
    margin-left: 20px;
    float: left;
}


